# unfilter those
!java-1.8/.project
!java-1.8/.classpath
!java-1.8/.settings/
java-1.8/bin

!java-11/.project
!java-11/.classpath
!java-11/.settings/
java11/bin

!java-15/.project
!java-15/.classpath
!java-15/.settings/
java15/bin
